.well
	h1 Teachyoumath.com
.form
	.row
		.span1
			h3 1
		.span1 
			h3 +
		.span1
			h3 2
		.span1 
			h3 =
		.span2
			h3 _____
	.row
		.span1
			h3 1
		.span1 
			h3 +
		.span1
			h3 2
		.span1 
			h3 =
		.span2
			.dropdown-menu
		
.span4.offset7
	.btn Submit!

